<div class="container">
    <div class="row">
        <div class="col-2">
            <% a[:user][:profile_image_url].slice!(-11..-5) %>
            <a href="https://twitter.com/<%= a[:user][:screen_name] %>/status/<%= a[:id]%>" target="_blank"><img src="<%= a[:user][:profile_image_url] %>" class="rounded-circle" width="100%"></img></a>
        </div>
        <div class="col-10">
            <%= a[:user][:name] %>
            @<%= a[:user][:screen_name] %>
            <%= a[:text]%>
            <%= Time.parse(a[:created_at]).in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
            <br></br>
            <% if a[:extended_entities].to_h[:media] %>
                <% 4.times do |i| %>
                    <% break unless a[:extended_entities].to_h[:media][i]  %>
                    <a href="https://twitter.com/<%= a[:user][:screen_name] %>/status/<%= a[:id]%>" target="_blank"><img src="<%= a[:extended_entities].to_h[:media][i][:media_url] %>" class="text-align-center" width="100%"></img></a>
                    <br></br>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <i class="fa fa-retweet"></i> <%= a[:retweet_count] %>
        </div>
        <div class="col-6">
            <i class="far fa-heart"></i> <%= a[:favorite_count]%>
        </div>
    </div>
</div>